name: Generate Doxygen Docs
on:
 push:
   branches:
     - main
jobs:
 build-docs:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Doxygen Action
       uses: mattnotmitt/doxygen-action@1.12.0
       with:
           working-directory: '.'
           doxyfile-path: '.'
           enable-latex: true
